www/data/ordini.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT ordini (ordine*)>

<!ELEMENT ordine (data, utente, indirizzo, sconto, prodotti)>
<!ATTLIST ordine
    id ID #REQUIRED>

<!ELEMENT prodotti  (prodotto*)>

<!ELEMENT prodotto>
<!ATTLIST prodotto
    id ID #REQUIRED
    quantita CDATA #REQUIRED>

<!ELEMENT data      (#PCDATA)>
<!ELEMENT utente    (#PCDATA)>
<!ELEMENT indirizzo (#PCDATA)>
<!ELEMENT sconto    (#PCDATA)>
