www/data/recensioni.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT recensioni (recensione*)>

<!ELEMENT recensione (idUtente, contenuto, ratings)>
<!ATTLIST recensione
    id         ID #REQUIRED
    idProdotto ID #REQUIRED>


<!ELEMENT ratings (rating*)>

<!ELEMENT rating (idUtente, supporto, utilita)>

<!ELEMENT idUtente    (#PCDATA)>
<!ELEMENT contenuto   (#PCDATA)>
<!ELEMENT supporto    (#PCDATA)>
<!ELEMENT utilita     (#PCDATA)>
