www/data/recensioni.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT recensioni (recensione*)>

<!ELEMENT recensione (idUtente, contenuto, ratings, data)>
<!ATTLIST recensione
    id         ID #REQUIRED
    idProdotto ID #REQUIRED>


<!ELEMENT ratings (rating*)>

<!ELEMENT rating (supporto, utilita)>
<!ATTLIST rating
    idUtente ID #REQUIRED>

<!ELEMENT contenuto   (#PCDATA)>
<!ELEMENT data        (#PCDATA)>
<!ELEMENT supporto    (#PCDATA)>
<!ELEMENT utilita     (#PCDATA)>
